body{
    margin: 0px;
    overflow-x: hidden;
}
.wrapper{
    height: 110vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(11, 10vh);
    background-color: #EEEE;
    overflow-x: hidden;
}

header{
    width: 100vw;
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh;
    align-content: center;
    background-color: #01395A;
    border-bottom: 2px solid black;
    position: fixed;
}

main {
    grid-column: 1/5;
    grid-row: 2/11;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(9, 10vh);
}
#Title{
    color: #EEEE;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    grid-column: 2/4;
    margin: auto;
    margin-top: 2vh;
}

#Menu_button{
    grid-column: 4/5;
    margin: auto;
    font-size: 45px;
    color: #EEEE;
}

#menu_div{
    position: relative;
    grid-column: 3/5;
    grid-row: 1/9;
    z-index: 1000;
    background-color: #01395A;
    color: #EEEE;
    font-family: 'Roboto Condensed', sans-serif;
    border-top: 2px solid black;
}

#menu_div a{
    text-decoration: none;
    color:#EEEE;
    font-size: 20px;
}

#menu_div li{
    margin: 15px;
}

#index_mobile_img{
    grid-column: 1/5;
    grid-row: 1/4;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 10px 10px #808080;
}

#intro_text_box{
    grid-column: 1/4;
    grid-row: 5/9;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#intro_text_box p{
    margin: 25px;
    text-align: left;
    font-size: 18px;
}

#intro_list{
    text-align:left;
    margin: 25px;
}

#intro_list h3{
    margin: 25px;
    font-style: normal;
}

#intro_list a{
    text-decoration: none;
    color: black;
}

#intro_list li{
    margin: 7px;
}

@media only screen and (min-device-width: 400px){
    
}