body{
    margin: 0px;
    overflow-x: hidden;
}
.wrapper{
    height: 110vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(11, 10vh);
    background-color: #EEEE;
    overflow-x: hidden;
}

header{
    width: 100vw;
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh;
    align-content: center;
    background-color: #01395A;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 1000;
}

main {
    grid-column: 1/5;
    grid-row: 2/11;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(9, 10vh);
}

.title{
    text-decoration: none;
    color: #EEEE;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    grid-column: 2/4;
    margin: auto;
    margin-top: 2vh;
    font-size: 36px;
    font-weight: bold;
}

#Menu_button{
    grid-column: 4/5;
    margin: auto;
    font-size: 45px;
    color: #EEEE;
}

.menu_div{
    position: fixed;
    width: 100vw;
    grid-column: 1/5;
    grid-row: 1/4;
    z-index: 1000;
    background-color: #01395A;
    color: #EEEE;
    font-family: 'Roboto Condensed', sans-serif;
    border-top: 2px solid black;
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
}

.menu_div a{
    text-decoration: none;
    color:#EEEE;
    font-size: 20px;
}

.menu_div ul {
    grid-column: 2/4;
    grid-row: 1/7;
}

.menu_div li {
    margin-top: 5px;
    margin-bottom: 15px;
}

.show_menu_div{
    opacity: 0.95;
    transform: translateY(0);
}

.show_menu_div a {
    opacity: 1;
}

#index_mobile_img{
    grid-column: 1/5;
    grid-row: 1/4;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 10px 10px #808080;
}

#intro_text_box{
    grid-column: 1/5;
    grid-row: 5/11;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#intro_text_box p{
    margin: 25px;
    text-align: left;
    font-size: 18px;
}

#intro_list{
    text-align:left;
    margin: 25px;
}

#intro_list h3{
    margin: 25px;
    font-style: normal;
}

#intro_list a{
    text-decoration: none;
    color: black;
}

#intro_list li{
    margin: 7px;
}

.login_intro{
    grid-column: 1/5;
    grid-row: 1/4;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.login_intro p {
    margin: 16px;
}

.login_fields{
    grid-column: 1/5;
    grid-row: 3/6;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.login_fields *{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.login_fields h3{
    margin-left: 8px;
}

input{
    width: 50vw;
    height: 6vh;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    text-indent: 6px;
}

.username{
    grid-column: 2/4;
    grid-row: 1/2;
}

.password{
    grid-column: 2/4;
    grid-row: 3/4;
}

.login_button{
    grid-column: 3/5;
    grid-row: 7/8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #EEEE;
    font-size: 20px;
    border-radius: 8px;
    background-color: #01395A;
}

@media only screen and (min-device-width: 400px){
    
}