        <button class="back_button" onclick="location.href='./index.html'"><-</button>
        <div class="form">
            <h3>Namn:</h3>
            <input type="text" placeholder="Ditt namn här">
            <h3>Telefonnummer:</h3>
            <input type="text" placeholder="Ditt telefonnummer här">
            <h3>Mail:</h3>
            <input type="text" placeholder="Din mail här">
        </div>
        <div class="bokat">
            <h1>Bokat!</h1>
        </div>
        <button class="boka2" onclick="execute();">Boka</button>