<img src="./img/index_mobile.png" alt="Beautiful scenery" id="index_mobile_img">
<p id="intro_text">Välkommen till Hajk Info! Här kan du hitta information om hajker och vad som är bra att veta inför hajker vid olika årstider. </p>