<img src="./img/index_mobile.png" alt="Beautiful scenery" id="index_mobile_img">
<div id="intro_text_box">
    <h2 class="welcomeh2">Välkommen till Hajk Info! </h2>
    <P>Här kan du hitta information om hajker och vad som är bra att veta inför hajker vid olika årstider. </p>
    <div id="intro_list">
            <h3>Exempelvis:</h3>
            <ul>
                <li><a href="./vinter.html">Vinterpackråd</a></li>
                <li><a href="./sommar.html">Sommarhajk-tips</a></li>
                <li><a href="./login.html">Vilken sovsäck man ska välja</a></li>
            </ul>
    </div>
    <p>Utforska gärna sidan! Tryck på meny knappen i högra hörnet.</p>
</div>