<div class="image">
    <img src="./img/startpage.png" alt="Image advertising the company">
</div>
    <button class="hitta_oss_button">Hitta oss</button>
    <button class="boka1" onclick="location.href='./boka.html'">Boka</button>
    <p class="main_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat odio incidunt labore vel, temporibus eos tenetur ex doloremque ipsam tempore, commodi obcaecati debitis neque placeat exercitationem? Accusantium saepe voluptatum quam.</p>
    