<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>Hajk Info</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <a class="title" href="./index.html">Hajk Info</a>
            <i class="material-icons" id="Menu_button" onclick="toggleMenu()">menu</i>
        </header>
        <main>
            <div class="menu_div">
                <ul>
                    <li><a href="">Vinterhajk</a></li>
                    <li><a href="">Sommarhajk</a></li>
                    <li><a href="./login.html">Inloggning</a></li>
                </ul>
            </div>
            <%= yield %>
        </main>
    </div>
    <script src="js/toggle_menu.js"></script>
    <script src="js/modal.js"></script>
</body>
</html>