<div class="login_intro">
    <h2>Välkommen till inloggningen!</h2>
    <p>Skriv in ditt användarnamn och ditt lösenord och tryck på "Logga in"</p>
</div>

<div class="login_fields">
    <h3>Användarnamn:</h3>
    <input type="text" name="Username" id="" placeholder="Användarnamn">
    <h3>Lösenord:</h3>
    <input type="password" name="Password" id="" placeholder="Lösenord">
</div>