<div class="sommar_intro">
    <h2 class="welcomeh2">Välkommen till sommarsidan!</h2>
</div>

<div class="packlista">
    <h2>Att tänka på inför en sommarhajk:</h2>
    <ul>
        <li>Skydda dig från mygg (myggnät, myggmedel)</li>
        <li>Ta med antihistaminer eftersom myggskyddet inte kommer fungera</li>
        <li>Lämna vinterjackan hemma</li>
        <li>Funktionskläder är gött att vandra i</li>
    </ul>
</div>

<div class="sommar_mobile_img">
    <img src="./img/sommar_mobile.png" alt="mosquito">
</div>

<div class="sommar_img">
        <img src="./img/sommar.png" alt="mosquito">
</div>