<div class="vinter_intro">
    <h2 class="welcomeh2">Välkommen till vintersidan!</h2>
</div>

<div class="sprite1">
    <img src="./img/sprites.png" alt="Mitt vackra spritesheet">
</div>

<div class="sprite2">
    <!-- <img src="./img/sprites.png" alt="Mitt vackra spritesheet"> -->
</div>

<div class="sprite3">
    <!-- <img src="./img/sprites.png" alt="Mitt vackra spritesheet"> -->
</div>

<div class="sprite4">
    <!-- <img src="./img/sprites.png" alt="Mitt vackra spritesheet"> -->
</div>