body{
    margin: 0px;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 10vh);
    background-color: #EEEE;
}

header{
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh;
    align-content: center;
    background-color: #01395A;
    border-bottom: 2px solid black;
}
#Title{
    grid-column: 1/4;
    margin: auto;
    color: #EEEE;
    font-family: 'Roboto Condensed', sans-serif;
}

#Menu_button{
    grid-column: 4/5;
    margin: auto;
    font-size: 45px;
    color: #EEEE;
}

@media only screen and (min-device-width: 400px){
    
}