/* Mutual CSS & index CSS */
/* Wolololololo */
body{
    margin: 0px;
    overflow-x: hidden;
}

.wrapper{
    position: relative;
    margin: 0;
    width: 100vw;
    max-height: 667px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(20,1fr);
    overflow-x: hidden;
    background-color: #7A8061;
}

header{
    border: none;
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: #807661;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
}

.profile_button{
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

.profile_button i{
    margin-top: 13px;
    margin-right: 30px;
    font-size: 50px;
}

.menu_button{
    grid-row: 1/2;
    grid-column: 9/11;
    text-align: center;
}

.menu_button i{
    font-size: 50px;
    margin-top: 13px;
    margin-right: 30px;
}

h1{
    grid-row: 1/2;
    grid-column: 4/8;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

main{
    border-top: 1px solid black;
    grid-row: 3/19;
    grid-column: 1/3;
    background-color: #7A8061;
    display: grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: repeat(14,1fr);
}

.profile_menu{
    grid-row: 3/21;
    grid-column: 8/15;
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 0;
    bottom: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 4px;
    background-color:#807661;
    transform: translateX(-100%);
    transition: transform 0.7s;
    
}
.menu_menu{
    grid-row: 3/21;
    grid-column: 2/3;
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 0;
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 4px;
    background-color:#807661;
    transform: translatex(200%);
    transition: transform 0.7s;
}

.show_profile{
    transform: translateX(0);
}
.show_menu{
    transform: translateX(100%);
}

.image{
    grid-row: 1/7;
    grid-column: 1/15;
    background-color: #7A8061;
    overflow: hidden;
    justify-content: center;
    border-bottom: 1px solid black;
}

.main_text{
    grid-row: 11/15;
    grid-column: 2/14;
}

button{
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    background-color: #676180;
    border: 0px;
    box-shadow: 2px 6px 20px 0px black;
    transition: 0.3s;
}

button:active{
    background-color: #56516B;
    transform: translateY(1.5%);
    transition: 0s;
}

.boka1{
    grid-row: 8/10;
    grid-column: 2/7;
}

.hitta_oss_button{
    grid-row: 8/10;
    grid-column: 9/14;
}



footer{
    grid-row: 19/21;
    grid-column: 1/3;
    background-color: #7A8061;
    border: 1px solid black;
    margin-top: 8%;
}

footer p {
    margin-left: 1%;
}

/* End of mutual CSS */

/* Start of boka CSS */

.back_button{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 20px 5px;
}

.boka2{
    grid-row: 13/15;
    grid-column: 8/14;
}

.form{
    grid-row: 1/12;
    grid-column: 2/14;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    font-family: 'Segoe UI', sans-serif;
}

.form input{
    grid-column: 1/2;
    border: 1px solid black;
    border-radius: 14px;
    margin-bottom: 5px;
    text-indent: 2%;
}

.form input:placeholder-shown{
    font-style: italic;
}
.form h3{
    grid-column: 1/2;
    font-style: bold;
    margin-bottom: auto;
    margin-top: 60px;
    margin-left: 2%;
}

.bokat{
    grid-row: 4/9;
    grid-column: 2/9;
    background-color: #676180;
    text-align: center;
    font-size: 10px;
    border-radius: 20px;
    box-shadow: 2px 6px 20px 0px black;
    opacity: 0;
    transition: opacity 0.3s linear;
    font-family: 'Segoe UI', sans-serif;
}

.bokat h1{
    margin: 30px 50px;
    font-family: 'Segoe UI', sans-serif;
}

.show_bokat{
    opacity: 1;
}

/* End of boka CSS */


@media only screen and (min-device-width: 400px){
    button:hover{
        background-color: #56516B;
    }

    .form input{
        margin-bottom: 1px;
    }

    .bokat{
        grid-row: 4/9;
        grid-column: 6/9;
        background-color: #676180;
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 6px 20px 0px black;
        opacity: 0;
        transition: opacity 0.3s linear;
        font-family: 'Segoe UI', sans-serif;
    }
    .show_bokat{
        opacity: 1;
    }
}